			* {
				margin: 0;
				padding: 0;
				font-family: Century Gothic;
			}

			body {
				background-image: url(/bilder/Nobel.jpg);
				background-size: fill;
			}

			header {
				text-align: center;
				font-family: Century Gothic;
				padding: 20px;
				color: black;
				background-image: url(/bilder/bakrund.jpg);
				background-size: cover;
			}

			nav {

			}

			ul {
				margin: 0;
				padding: 0;
				width: 200px;
				background-color: gold;
				list-style-type: none;
			}


			 li a hover:{
				background-color: black;
				color: white;
			}
			
			li a {
				display: block;
				color: #000;
				padding: 8px 16px;
				text-decoration: underline;
			}	

			h3 {
				color: white;
				margin: 10px 5px 10px 5px;
			}

			h4 {
				color: black;
			}

			b {
				text-decoration: underline;
			}

		p {
			color: black;
			background-image: url(/bilder/guld_bakrund.jpg);
			background-size: cover;
			width: 50%;
			top: 27%;
			left: 17%;
			position: absolute;
		}


