#Måndag {
	color: purple;
}

#Tisdag {
	color: red;
}

#Onsdag {
	color: yellow;
}

#Torsdag {
	color: orange;
}

#Fredag {
	color: green;
}

#Lördag {
	color: blue;
}

#Söndag {
	color: pink;
}

.Vinter {
	color:lightblue;
}

.Vår {
	color:lightgreen;
}

.Sommar {
	color:blue;
}

.Höst {
	color:orange;
}

.planet {
	font:cursive grey 13px;

}

.moon {

	font:bold gold 10px; 
}

.inner {
	font:cursive navyblue 12px;
}

.outer {
	font:maroon 14px 
}