			* {
				margin: 0;
				padding: 0;
				font-family: Arial;
			}

			body {
				background-image: url(../Bilder/Nobel.jpg);
				background-size: cover;
			}

			header {
				text-align: center;
				font-family: Century Gothic;
				padding: 20px;
				color: white;
				background-image: url(../Bilder/gul_galaxy.jpg);
				background-size: cover;
			}

			nav {

			}

			ul {
				margin: 0;
				padding: 0;
				width: 10%;
				background-image: url(../Bilder/glitter.jpg);
				list-style-type: none;	
			}
			
			li a {
				display: block;
				color: black;
				padding: 5% 3%;
				text-decoration: underline;
			}	

			h3 {
				color: white;
				margin: 1% 1%;
				width: 9%;
				padding: 0;
				margin: 0;
			}

			h4 {
				color: white;
			}

			b {
				text-decoration: underline;
			}

			p {
				color: black;
				background-color: gold;
				background-size: cover;
				width: 75%;
				top: 15%;
				left: 20%;
				position: absolute;
				overflow: auto;
				font-size: 18px;
			}

		#Nobel_logo {
			border-radius: 8px;
			width: 6%;
			height: 10%;
			top: 0;
			left: 1%;
			position: absolute;
			margin: 0;
		}
